<div class="card bg-light mb-3">
<div class="card">
    <div class="row">
      <div class="col-sm-4">
        <div class="card-body">
          <h5 class="card-title">Name:</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>        </div>
      </div>

      <div class="col-sm-4">
          <div class="card-body">
            <h5 class="card-title">Total Investment:</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          </div>
        </div>

        <div class="col-sm-4">
            <div class="card-body">
              <h5 class="card-title">max_gainer:</h5>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            </div>
          </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
          <div class="card-body">
            <h5 class="card-title">Email Id:</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          </div>
        </div>
  
        <div class="col-sm-4">
            <div class="card-body">
              <h5 class="card-title">Unrealized Profit:</h5>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            </div>
          </div>
  
          <div class="col-sm-4">
              <div class="card-body">
                <h5 class="card-title">max_loser:</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
              </div>
            </div>
      </div>
    </div>
  </div>