<div class="container-fluid">
    <div class="card bg-light shadow p-3 mb-5 bg-white rounded">
      <h2>Notifications: </h2>
      <div class="row">
        <div class="col-sm-6">
          <div class="card-body">
            <h5 class="card-title">Symbol:</h5>
            <h6 class="card-text">{{symbol}}</h6>        
          </div>
        </div>
  
        <div class="col-sm-6">
            <div class="card-body">
              <h5 class="card-title">Signal:</h5>
              <h6 class="card-text">{{signal}}</h6>
            </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6">
          <div class="card-body">
            <h5 class="card-title">Quantity:</h5>
            <h6 class="card-text">{{quantity}}</h6>        
          </div>
        </div>
  
        <div class="col-sm-6">
            <div class="card-body">
              <h5 class="card-title">Current Price:</h5>
              <h6 class="card-text">{{currentPrice}}</h6>
            </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6">
          <div class="card-body">
            <button type="Submit" class="btn btn-primary">Accept</button>      
          </div>
        </div>
  
        <div class="col-sm-6">
            <div class="card-body">
                <button type="Submit" class="btn btn-primary">Deny</button>
            </div>
        </div>
      </div>
