<form #compSignUp="ngForm" id="compSignUp" class="compSignUp" ngNativeValidate>
    <!-- COMPANY DETAILS -->
    <label for="Personal Details">Personal Details: </label>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="compName">Company Name:</label>
        <input type="text" class="form-control" id="compname" name="compname" placeholder="Your Company Name" [(ngModel)]="compname" required>
      </div>
      <div class="form-group col-md-6">
          <label for="compContact">Contact No: </label>
          <input type="number" class="form-control" id="compcontact" name="compcontact" [(ngModel)]="compcontact" required>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-12">
          <label for="compemail">Company Email:</label>
          <input type="email" class="form-control" id="compemail" name="compemail" placeholder="Your Company Email" [(ngModel)]="compemail" required>
        </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="compPwd">Password: </label>
        <input type="password" class="form-control" id="pwd" name="pwd" [(ngModel)]="pwd" required>
      </div>
      <div class="form-group col-md-6">
        <label for="confirmPwd">Confirm Password: </label>
        <input type="password" class="form-control" id="confirmPwd" name="confirmPwd" [(ngModel)]="confirmPwd" required>
      </div>
    </div>
    <!-- BANK DETAILS -->
    <div class="form-row">
      <label for="bankDetailsSection">Bank Details: </label>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="compPan">PAN Card No.: </label>
        <input type="text" class="form-control" id="pan" name="pan" [(ngModel)]="pan" required>
      </div>
      <div class="form-group col-md-6">
        <label for="compAccNo">Account No.: </label>
        <input type="number" class="form-control" id="accNo" name="accNo" [(ngModel)]="accNo" required>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-12">
        <label for="compBankName">Bank Name: </label>
        <input type="text" class="form-control" id="bankName" name="bankName" [(ngModel)]="bankName" required>
      </div>
    </div>
    <!-- Preferences Section -->
  <div class="form-row">
    <label for="preferences">Your Preferences:</label>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="riskFactor">Risk Factor: </label>
      <input type="number" class="form-control" id="riskFactor" name="riskFactor" [(ngModel)]="riskFactor" required>
    </div>
    <div class="form-group col-md-6">
      <label for="returnFactor">Return Factor: </label>
      <input type="number" class="form-control" id="returnFactor" name="returnFactor" [(ngModel)]="returnFactor" required>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="budget">Budget: </label>
      <input type="number" class="form-control" id="budget" name="budget" [(ngModel)]="budget" required>      
    </div>
  </div>
    <button type="submit" class="btn btn-primary" (click)="signUp()">Sign Up</button>
  </form>
