<div class="container-fluid" style="background: linear-gradient(to right, #11998e, #38ef7d);">
  <br/>
  <br/>
  <div class="row">
    <div class="col-md-6 col-sm-6">
      <div class="card shadow p-3 mb-5 bg-white rounded">
          <h2>Register as an Individual</h2>
          <app-individual-signup></app-individual-signup>
      </div>
    </div>
    <div class="col-md-6 col-sm-6">
      <div class="card shadow p-3 mb-5 bg-white rounded">
          <h2>Register as a Company</h2>
          <app-company-signup></app-company-signup>
      </div>
    </div>
  </div>
</div>