body {
    font-family: Arial;
    color: white;
  }
  
  .split {
    height: 90%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 30px;
    overflow-x: hidden;
    padding-top: 20px;
  }

  .left {
    left: 0;
    background-color: white;
  }
  
  .right {
    right: 0;
    background-color: #FFF6EA;
  }
  
  .centered {
    position: absolute;
    top: 15%;
    left: 40%;
    transform: translate(-10%, -50%);
    text-align: center;
    color: black;
  }
  
  .logo{
    position: absolute;
    top: 250px;
    width: 35%;
    height: 40%;
    left: 43%;
    transform: translate(-30%, -50%);
  }
  .text1 {
    position: absolute;
    top: 450px;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #1C1A19  ;
    font-family: 'Lucida Console';  
  }
h1{
    font-family: 'Lucida Console';  
}
  .vl {
    border-left: 6px solid green;
    height: 500px;
    position: absolute;
    left: 50%;
    margin-left: -3px;
    top: 0;
  }
  
  .text2 {
    position: absolute;
    top: 200px;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: purple;
  }
.formStyle{
    position: absolute;
    top: 350px;
    left: 38%;
    transform: translate(-10%, -50%);
    font-family: 'Lucida Console';  
    font-size: 25px;
    color: black;
}
  .centered img {
    width: 150px;
    border-radius: 50%;
  }