<body> 
    <div class="split left">
        <div class="centered">
          <h1>ABOUT US</h1>
        </div>
          <img class="logo" src="../assets/imgs/logoBig.png" alt="LOGO">
            <p class="text1">It's a tumultuous time for online stock brockers. <i>'The Trading tribe'</i>
            is a company that caters to portfolio management for it's users- individuals or companies.
          </p>  
      </div>
    
      <div class="split right"> 
        <div class="centered">
          <h1>SIGN IN</h1>
        </div>
          <form class="formStyle" ngNativeValidate>
              <div class="form-group">
                <label for="exampleInputEmail1">Email address:</label>
                <div class="shadow bg-white rounded">
                <input type="email" id="emailId" name="emailId" [(ngModel)]="emailId" class="form-control" aria-describedby="emailHelp" placeholder="Enter email" required>
              </div>
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">Password:</label>
                <div class="shadow bg-white rounded">
                <input type="password" id="password" name="password" [(ngModel)]="password" class="form-control" placeholder="Password" required>
              </div>
              </div>
                <button type="submit" class="btn btn-primary" (click)="login()">Submit</button>&nbsp;&nbsp;&nbsp;
                <button type="submit" class="btn btn-primary">Sign Up</button>
            </form>
        
      </div>
     
    </body>
